{% extends 'home/base.html' %}
{% block title %} Admin Dashboard{% endblock title %}
{% block content %}
{% load qr_tag %}
{% include 'include/admin_menu.html' %}
<style>
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    .tag_ruselt{
        background-color: rgb(228, 254, 254);
        border: 1px solid aqua;
        margin-top: 10px;
        font-weight: 700;
        padding: 5px;
        *{
            margin-top: 5px;
        }
    }
    .in_stock{
        background-color: rgb(120, 255, 120);
        border-radius: 5px;
        padding: 5px;
    }
    .out_stock{
        background-color: rgb(255, 255, 31);
        border-radius: 5px;
        padding: 5px;

    }
</style>
<div class="container mt-5">
        <div>
            <form style="display: flex;gap: 10px;" method="POST">{% csrf_token %}
                <select  name="day" class="form-select" aria-label="Default select example">
                    <option selected value="0">Select Days Ago</option>
                    <option value="15">15</option>
                    <option value="30">30</option>
                    <option value="60">60</option>
                    <option value="90">90</option>
                </select>
                <button class="btn btn-primary" type="submit" name="Days">Search</button>
            </form>
        </div>
</div>

<div>
    {% for t in t %}
        <div class="text-center tag_ruselt">
            <div>Tag {{t.tag_number}}</div>
            <div>{{t.product.product_name}}</div>
            <div style="display: flex;justify-content: space-evenly;">
                Last {{day}} Days Ago Pending<div class="in_stock"> In Stock {% old_in_stock d t.product_id as old_in_stock %}{{old_in_stock}}</div>
            </div>
            <div style="display: flex;justify-content: space-evenly;">
                Last {{day}} Days<div class="out_stock"> Out Stock {% old_out_stock d t.product_id as old_out_stock %}{{old_out_stock}}</div>
            </div>
            <div>Production {% production_date t.tag_number %} Days Ago <br> {{t.generate_date}}</div>
            {% if old_out_stock > old_in_stock %}
             <div style="width: 100%;display: flex;justify-content: center;" ><h6 style="width: 50%;line-height: 5px;" class="alert alert-danger">Check This Tag</h6></div>
            {% else %}
            {% endif %}
        </div>
    {% endfor %}
</div>





{% endblock content %}