{% extends 'home/base.html' %}
{% block title %} Office Dashboard{% endblock title %}
{% block content %}
{% load office_tag %}
{% load store_tag %}
<style>

*{margin: 0; padding: 0;
box-sizing: border-box;
}
.item_list_head{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
    font-weight: 600;
}
.item_list_content{
    padding: 5px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 1fr 1fr 1fr ;
    background-color: rgb(202, 255, 255);
    .item_name{
        font-weight: 500;
    }
   
  
}
.tag_list{
    text-align: center;
    border-bottom: 1px solid black;
    margin-bottom: 20px;
    background-color: rgb(202, 255, 255);
}
</style>
</style>
<div class="container employee_name">
    <div class=""><h>Welcome - {{e.name}}</h></div>
    <input type="hidden" value="{{e.id}}" id="eid" class="form-control" required>
</div>
<div class="container my-3">
    <div class="row">
        <div class="col-2 office_menu">
            {% include 'include/office_menu.html' %}  
        </div>
        <div class="col-10">
            {% include 'include/verify_menu.html' %}  
            <!--* content -->
            <div class="text-center">
                <h6>Voucher Name &nbsp;	&nbsp;	 {{v.name}} &nbsp;	&nbsp;	Total Bandle {% total_bandle_voucher v.id %}</h6>
                <form method="POST">{% csrf_token %}
                    <div style="display: flex; justify-content: center;gap: 20px;">
                        <input type="text" placeholder="Voucher Name" name="new_name_v" required>
                        <button class="btn btn-info" type="submit" name="Update_v">Update</button>
                    </div>
                </form>
            </div>
            <div class="container">
        <div class="item_list_head">
                    <div>Item name</div>
                    <div>Total Qty</div>
                    <div>Employee Name</div>
                    <div>Date</div>
                    <div>Verify By</div>
                    <div>Action</div>
                </div>
                    {% for q in q %}
                    <div class="item_list_content">
                    <div class="item_name">{{q.item.name}}</div>
                    <div>Total Qty {% out_voucher_qty q.item_id q.voucher_id %}</div>
                    <div>{{q.out_employee.name}}</div>
                    <div>{{q.generate_date}}</div>
                    <div> {% if q.verify_by == None %} {% else %}{{q.verify_by.name}}{% endif %}</div>
                    <div><form class="" method="POST">{% csrf_token %}{% if q.verify_status == 0 %}<input type="hidden" name="item_id" value="{{q.item_id}}"><button class="btn btn-success btn-sm my-1" type="submit" name="Verify">Accepte</button>{% else %}Accepted{% endif %}</form></div>
                </div>
                <div class="tag_list">tag{% out_tag_list q.voucher_id q.item_id %}</div>
                  {% endfor %}
          
                </div>
        <div>
            <form class="" method="POST">{% csrf_token %}
                {% if a == b %}
                <button class="btn btn-success btn-sm my-1" type="submit" name="Voucher_Verify">Accepte</button>
                {% else %}{% endif %}
            </form>
            </div>
            <!--// end content //-->
        </div>
    </div>

<script>
</script>
{% endblock content %}