<style>
    .buttons{
        display: flex;
        gap: 10px;
        overflow: scroll;
    }
</style>
<div class="container buttons">
    <div><a  href="/store/in_home/" class="my-1 {% if request.path == '/store/in_home/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a></div>
    <div><a  href="/store/search_in_item/" class="my-1 {% if request.path == '/store/search_in_item/' %}btn btn-warning {% elif url_in == request.path %} btn btn-warning {% else %}btn btn-primary{% endif %}">Item In</a></div>
    <div><a  href="/in_logout/" class="my-1 btn btn-danger">Logout</a></div>
</div>




