<style>
    a{
            width: 100%;
        }
    .mobile{
        display: none;
    }
    @media only screen and (max-width: 500px) {
        .mobile{
            display: flex;
            gap: 10px;
        }
    }
</style>

<div class="mobile">
    <a  href="/office/office_dashboard/" class="my-1 {% if request.path == '/office/office_dashboard/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Dashboard</a>
    <a href="/office_logout/" class="btn btn-danger my-1">Logout</a>

</div>