<style>
    a{
            width: 100%;
        }
    @media only screen and (max-width: 500px) {
        .but{
            display: none;
        }
    }
</style>

<div class="but">
    <a  href="/office/office_dashboard/" class="my-1 {% if request.path == '/office/office_dashboard/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/office/batch_number" class="my-1 {% if request.path == '/office/batch_number' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Batch Number</a>
    <a  href="/office/generate_qr_code" class="my-1 {% if request.path == '/office/generate_qr_code' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Generate QR Code</a>
    <a  href="/office/verify_qr_code" class=" my-1 {% if request.path == '/office/verify_qr_code' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Verify QR Code</a>
    <a  href="/office/employee/" class="my-1 {% if request.path == '/office/employee/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Employee</a>
    <a  href="/office/item/" class="my-1 {% if request.path == '/office/item/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Item</a>
    <a href="/office_logout/" class="btn btn-danger my-1">Logout</a>
</div>
