<div style="display: flex;gap: 10px;">
    <a  style="width: 200px;"  href="/office/in_report/" class="{% if request.path == '/office/in_report/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">In</a>
    <a  style="width: 200px;"  href="/office/out_report/" class="{% if request.path == '/office/out_report/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Out</a>
    <a  style="width: 200px;"  href="/office/billing/" class="{% if request.path == '/office/billing/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Billing</a>
</div>