<style>
    .buttons{
        overflow: scroll;
        
    }
</style>
<div class="container buttons">
    <a  href="/store/store_dashboard/" class="my-1 {% if request.path == '/store/store_dashboard/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Home</a>
    <a  href="/store/item_in/" class="my-1 {% if request.path == '/store/item_in/' %}btn btn-warning{% else %}btn btn-primary{% endif %}">Item In</a>
    <a  href="/store/add_voucher/" class="my-1 {% if request.path == '/store/add_voucher/' %} btn btn-warning {% elif url == request.path %} btn btn-warning {% else %} btn btn-primary {% endif %}">Item Out</a>
    <a  href="/store_logout/" class="my-1 btn btn-danger">Logout</a>
</div>




