{% load office_tag %}
<style>
    .dis_felx{
        display: flex;
        justify-content: center;
        gap: 10px;
    }
    .pro_name{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    .pd_box{
        background-color: rgb(192, 181, 255);
        font-weight: 600;
        position: sticky;
        top: 0;
    }
    .unused{
        background-color: RED;
        color: white;
        border-radius: 5px;
        padding: 5px;
    }
    .instock{
        background-color: green;
        color: white;
        border-radius: 5px;
        padding: 5px;
    }
    .out_stock{
        background-color: rgb(225, 194, 20);
        color: rgb(0, 0, 0);
        border-radius: 5px;
        padding: 5px;
    }
    .tag_number{
        font-size: 20px;
        font-weight: 600;
        text-align: center;
    }
    .qr_box{
        border: 1px solid black;
        margin-top: 10px;
    }

    .inout{
        line-height: 10px;
        margin-bottom: 5px;
        justify-content: space-between;
        padding: 10px;
    }
</style>
<div class="pd_box mt-2 mb-2">
    <div class="pro_name">{{ba.product.product_name}}</div>
    <div class="dis_felx text-center">
        <div>Batch Name {{ba.batch_name}}</div>
        <div>Start Date {{ba.date}}</div>
    </div>
    <div  class="dis_felx text-center">
        <div class="unused">Un Used Tag {{un_used}}</div>
        <div class="instock">In Stock {{in_stock}}</div>
        <div class="out_stock">Out Stock {{out_stock}}</div>
    </div>
</div>

<div class="qr_main_box">
{% for q in qr_code %}
    <div class="qr_box">
        <div class="tag_number">Tag {{q.tag_number}}</div>
        <div  class="dis_felx inout">
            <div><p>In Status</p> {% if q.in_status == 0 %} <strong class="text-danger">Un Used</strong> {% elif q.in_status == 1 %} <strong class="text-success">Success</strong> {% endif %}
                <br><br>{% in_stock_detail q.tag_number %}
            </div>
            <div><p>Out Status</p> {% if q.out_status == 0 %} <strong class="text-danger">Pending</strong> {% elif q.out_status == 1 %} <strong class="text-success">Success</strong> {% endif %}
                <br><br>{% out_stock_detail q.tag_number %}
            </div>
        </div>
        <div class="text-center" style="margin-bottom:10px;">
            Stock Status {% if q.in_status == 1 and q.out_status == 1 %}
                <strong class="text-bg-warning" style="border-radius: 10px; padding: 5px; line-height: 5px;">Out Success</strong> {% out_date q.tag_number %} Days Ago <br>{% out_voucher_detail q.tag_number %}
            {% elif q.in_status == 0 and q.out_status == 0 %} 
                <strong class="text-bg-danger" style="border-radius: 10px; padding: 5px; line-height: 5px;">Pending</strong>
            {% elif q.in_status == 1 and q.out_status == 0 %}
                <strong class="text-bg-success" style="border-radius: 10px; padding: 5px; line-height: 5px;">In Stock</strong> {% production_date q.tag_number %} Days Ago 
            {% endif %}
        </div>
    </div>
{% endfor %}
</div>