<style>
    .tb_box{
    size: 2.95in 1.96in;
}
.tag_box{
        text-align: center;
        border: 2px solid black;
        width:  2.95in;
        height: 1.962in;
        display: flex;
        justify-content: space-between;
        .product_name{
            font-weight: 700;
            font-size: 18px;
        }

        .Qr_box{
            display: flex;
            align-items: center;
        }
        #tag_nummber{
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 1px;
        }
    }
    img{
        margin-right: 15px;
        height: 125px;
    }
    .tn_box{
        margin-left: 15px;
        margin-top: 25px;
    }
</style>
<style media="print">
    @page{
    margin: 0in;
    padding: 0in;
    size: 3.93 1.96in;
  }
  .tb_box{
    size: 3.93 1.96in;
  }
  .tag_box{
      border:none;
      margin-top: -0.21in;
  }
  img{
        margin-right: 15px;
        height: 125px;
    }
    .tn_box{
        margin-left: 15px;
        margin-top: 25px;
    }
  </style>

{% for t in tag %}
    <div class="tb_box">
        <div class="tag_box">
                <div class="tn_box">
                    <div class="product_name mt-4 mb-2" style="margin-left: 15px;">{{t.item.name}}</div>
                    <div style="display: flex; justify-content: center; gap: 10px;">Tag <h6 id="tag_nummber">{{t.tag_number}}</h6></div>
                </div>
                <div class="Qr_box">
                    <div><img src="https://api.qrserver.com/v1/create-qr-code/?size=151x151&data={{t.tag_number}}" ></div>
                </div>
        </div>
    </div><br>
{% endfor %}