{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% load store_tag %}
{% load static %}
{% block content %}
{% include 'include/alert.html' %}
<style>
        #reader{
            overflow: hidden;
        border-radius: 10px;
        font-weight: 600;
        button{
            background-color: rgb(0, 149, 255);
            color: white;
            border-radius: 5px;
        }
        select{
            width: 90%;
            margin-bottom: 10px;
        }
        video{
            border-radius: 10px;
        }
    }
.video_scan{
    width: 100%;
    display: flex;
    justify-content: center;
}
.red_alert{  
    background-color: red;  
}
.warning_alert{  
    background-color: rgb(255, 247, 0);  
}
.scan_box{  
    animation: scan_border 2s 1;
    animation-direction: reverse;
}
@keyframes scan_border {
  0%   {

  }result
  25%  {
    background-color: green;  
}
50%  {
      background-color: green;  
      
    }
    75%  {
      background-color: green;  
    
  }
  100% {

  }
}
.todays_production_box{
    width: 100%;
    display: flex;
    justify-content: center;
 }
 .todays_production{
    background-color: rgb(222, 255, 253);
    width: fit-content;
    padding: 5px;
    border-radius: 10px;
 }
 .product_main_box{
    background-color: rgb(255, 231, 200);
    border-radius: 10px;
}
.product_box{
     border-radius: 10px;
    background-color: rgb(242, 217, 255);
    margin-bottom: 10px;
    padding: 5px;
    text-align: center;

 }
 div.sticky {
  position: -webkit-sticky;
  position: sticky;
  bottom: 0;
  padding: 5px;
  background-color: rgb(228, 228, 228);
  display: grid;
  grid-template-columns: 5fr 1fr;
}
</style>
<div class="container">
    <div class=""><h>Welcome - {{e.name}}</h></div>
    <input type="hidden" id="e_id" value="{{e.id}}">
    <input type="hidden" id="e_name" value="{{e.name}}">
    <input type="hidden" id="operator_id" value="{{e.operator_id}}">
    <input type="hidden" id="machine_id" value="{{e.operator.machine_id}}">
    <input type="hidden" id="b_id" value="{{b_id.id}}">
    <input type="hidden" id="item_id" value="{{i.id}}">
    <input type="hidden" id="shift_id" value="{{sh.id}}">
    {% include 'include/alert.html' %}
    
</div>
{% include 'include/in_menu.html' %}





<!--* content *-->

<div id="scan_border">
    <div class="video_scan">
        <div  style="width:300px;" id="reader"></div>
    </div>
</div>


<div id="tag_result"></div>
<br>
<div id="last_ruselt" class="text-center"></div>

<div style="display: none;">
    <audio id="audio" controls>
        <source src="{% static 'audio/1.mp3' %}" type="audio/mp3">
	</audio>
</div>




<div>
    <div class="todays_production_box">
        <h6 class="todays_production">Todays Production </h6>
    </div>
    <div class="product_main_box container" id="todays_production">
            <div class="text-center"><b>{{i.name}} &nbsp;&nbsp;&nbsp; {% today_production_employee i.id e.id sh.id %}</b></div>
            <div>{% today_production_in_tag i.id e.id sh.id %}</div>
    </div>
    <br><br><br>
</div>


 

<!--* end content *-->
<div class="sticky"><div class="container"><input type="number" id="tag_num" placeholder="Enter Tag Number" class="form-control"> </div><div class="container"><button class="btn btn-primary" onclick="serch_in_tag()">Search</button></div></div>







<script src="https://unpkg.com/html5-qrcode"></script>
<script>

var count_ruselt = 0;
var last_ruselt = 0;
let e_name = document.getElementById('e_name').value;
let operator_id = document.getElementById('operator_id').value;
let machine_id = document.getElementById('machine_id').value;
let b_id = document.getElementById('b_id').value;
let item_id = document.getElementById('item_id').value;
let shift_id = document.getElementById('shift_id').value;
function onScanSuccess(c){

    if(c !== last_ruselt){
        ++count_ruselt;
        last_ruselt = c;
        $.ajax({
            url: "{% url 'in_item' %}",
            method: "GET",
            data:{
                tag_num:c,
                e_id:document.getElementById('e_id').value,
                b_id:b_id,
                item_id:item_id,
                operator_id:operator_id,
                machine_id:machine_id,
                shift_id:shift_id
        },
        success: function(res){
            document.getElementById('last_ruselt').innerHTML=`${res.i_name}&nbsp&nbspTag&nbsp${c}`
            if(res.status == 1){
                $("#todays_production").html(res.t);
                success_audio()
                $("#scan_border").addClass('scan_box');
                setTimeout(function() {
                    $("#scan_border").removeClass('scan_box');
                }, 2000);
            }
            else if(res.status == 0){
                $("#scan_border").addClass('red_alert');
                setTimeout(function() {
                    $("#scan_border").removeClass('red_alert');
                }, 5000);
                
                const msg = new SpeechSynthesisUtterance;
                msg.text=`Rong Qr Code mister ${e_name} Plese Chack and try again`;
                msg.voice=speechSynthesis.getVoices()[1];
                speechSynthesis.speak(msg);
                alert('Rong Qr Code')
            }
            else if (res.status == 2){
                $("#scan_border").addClass('warning_alert');
                setTimeout(function() {
                    $("#scan_border").removeClass('warning_alert');
                }, 5000);
                
                const msg = new SpeechSynthesisUtterance;
                msg.text=` Qr Code Already Scaned Plese Chack and try again ${res.i_name} mister ${e_name} `;
                msg.voice=speechSynthesis.getVoices()[1];
                speechSynthesis.speak(msg);
                //fele_audio()
            }
            else if (res.status == 3){
                location.reload()
            }

        }
            })
    }
    
    
}

function onScanError(errorMessage){
}
var html5QrcodeScanner = new Html5QrcodeScanner(
    "reader", { fps: 10, qrbox: 250,showTorchButtonIfSupported:true});
    html5QrcodeScanner.render(onScanSuccess, onScanError);
    
    
    function success_audio(){
        var audio = document.getElementById('audio');
        audio.play();
    }
    function serch_in_tag(){
        tag_num = document.getElementById('tag_num').value;
        
        $.ajax({
            url: "{% url 'search_tag' %}",
            method: "GET",
            data:{
                tag_num:tag_num,
            },
            success: function(res){
                $("#tag_result").html(res.t);
            }
        })
    }
    function in_item_manual(c){
        
        $.ajax({
            url: "{% url 'in_item_manual' %}",
            method: "GET",
            data:{
                tag_num:c,
                e_id:document.getElementById('e_id').value,
                b_id:b_id,
                item_id:item_id,
                operator_id:operator_id,
                machine_id:machine_id,
                shift_id:shift_id
        },
        success: function(res){
            document.getElementById('last_ruselt').innerHTML=`${res.i_name}&nbsp&nbspTag&nbsp${c}`
            if(res.status == 1){
                $("#todays_production").html(res.t);
                success_audio()
                $("#scan_border").addClass('scan_box');
                setTimeout(function() {
                    $("#scan_border").removeClass('scan_box');
                }, 2000);
            }
            else if(res.status == 0){
                $("#scan_border").addClass('red_alert');
                setTimeout(function() {
                    $("#scan_border").removeClass('red_alert');
                }, 5000);
                
                const msg = new SpeechSynthesisUtterance;
                msg.text=`Rong Qr Code mister ${e_name} Plese Chack and try again`;
                msg.voice=speechSynthesis.getVoices()[1];
                speechSynthesis.speak(msg);
                alert('Rong Qr Code')
            }
            else if (res.status == 2){
                $("#scan_border").addClass('warning_alert');
                setTimeout(function() {
                    $("#scan_border").removeClass('warning_alert');
                }, 5000);
                
                const msg = new SpeechSynthesisUtterance;
                msg.text=` Qr Code Already Scaned Plese Chack and try again ${res.i_name} mister ${e_name} `;
                msg.voice=speechSynthesis.getVoices()[1];
                speechSynthesis.speak(msg);
                //fele_audio()
            }
            else if (res.status == 3){
                location.reload()
            }

        }
            })
    }
    
</script>



{% endblock content %}