{% extends 'home/base.html' %}
{% block head %}
{% endblock head %}
{% block content %}
<div class="container">
    <div class=""><h>Welcome - {{e.name}}</h></div>
    <input type="hidden" id="e_id" value="{{e.id}}">
    <input type="hidden" id="e_name" value="{{e.name}}">
    <input type="hidden" id="b_id" value="{{b_id.id}}">
    <input type="hidden" id="item_id" value="{{i.id}}">
    {% include 'include/alert.html' %}
    
</div>

{% include 'include/out_menu.html' %}



{% endblock content %}